<%- include('partials/header') %>
<br><br>
<div class="blogs_blog_contents">
    <h3>Pick Blog You are interested in!</h3><br>
    <div class="row">
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/soccer">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="Soccer Blogs"></a>
                        <figcaption class="figure-caption"><a href="/blog/soccer">View Soccer Blog</a></figcaption> 
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/travel">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1592805145102-8578dcd1e41f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" 
                        alt="Travel">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/travel">View Travel Blog</a></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/coffee">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                        alt="">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/coffee">View Coffee Blog</a></figcaption>
                </figure>
            </div>
    </div>
</div>
<!-- Updated Item Section -->
<section class="blog_updated_items">
    <h2>Most Recent Updated Post</h2>
    <div class="blog_soccer_updated">
        <div class="soccer_recent_content">
            <h4>Three the Most Recently Posted in Soccer Blog</h4>
            <% soccer_recent.forEach((recent_soccer_data) => { %>
            <div class="soccer_info_container">    
                <div class="soccer_recent_img">
                    <img src="<%=recent_soccer_data.image%>" alt="soccer image">
                </div>
                <div class="soccer_recent_info">
                    <h4><%=recent_soccer_data.teamname%></h4>
                    <p><%=recent_soccer_data.description.substring(0,10)%>...</p>
                    <p><%=recent_soccer_data.createdDate.toDateString()%></p>
                    <p>Posted By: <%=recent_soccer_data.author.username%></p>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="soccer_recent_content">
            <h4>Three the Most Recently Posted in Travel Blog</h4>
            <% travel_recent.forEach((recent_travel_data) => { %>
                <div class="soccer_info_container">    
                    <div class="soccer_recent_img">
                        <img src="<%=recent_travel_data.image%>" alt="soccer image">
                    </div>
                    <div class="soccer_recent_info">
                        <h4><%=recent_travel_data.placeName%></h4>
                        <p><%=recent_travel_data.description.substring(0,10)%>...</p>
                        <p><%=recent_travel_data.createDate.toDateString()%></p>
                        <p>Posted By: <%=recent_travel_data.author.username%></p>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="soccer_recent_content">
            <h4>Three the Most Recently Posted in Coffee Blog</h4>
            <% coffee_recent.forEach((recent_coffee_data) => { %>
                <div class="soccer_info_container">    
                    <div class="soccer_recent_img">
                        <img src="<%=recent_coffee_data.image%>" alt="soccer image">
                    </div>
                    <div class="soccer_recent_info">
                        <h4><%=recent_coffee_data.coffeename%></h4>
                        <p><%=recent_coffee_data.description.substring(0,10)%>...</p>
                        <p><%=recent_coffee_data.createdDate.toDateString()%></p>
                        <p>Posted By: <%=recent_coffee_data.author.username%></p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>

<%- include('partials/footer') %>