<%- include('../partials/header') %>
<div class="container detail_Container">
    <div class="row">
        <!-- Item picture -->
        <div class="col-md-6 detail_Picture">
            <img src="<%=foundData.image%>" alt="">
        </div>
        <!-- Item detail information -->
        <div class="col-md-6 detail_info">
            <!-- Edit button -->
            <!-- I will just use bootstrap for now
                    and change it into my own css -->
                    <!-- so i need id of the data that i am changing. -->
                    <a class="btn btn-info btn-sm" href="/blog/soccer/<%=foundData._id%>/edit">Edit</a>
                    <!-- Delete -->
                    <!-- where should we go... after delete. 
                            Obvisouly I need id of the item to delete -->
                    <form class="deleteForm" action="/blog/soccer/<%=foundData._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
            <div class="details_info_background">
                <h3 class="details_info_title"><%=foundData.teamname%></h3> 
                <hr class="details_info_sepeate_line">
                <p><%=foundData.createdDate.toDateString() %></p>
                <p class="details_info_description"><%=foundData.description%></p>
            </div> 
            <!-- Comments -->
            <!-- Todo: Style this later -->
            <div class="comments_page">
                <!-- /blog/soccer/:id/comment/new -->
                <a href="/blog/soccer/<%=foundData._id%>/comment/new">Add new comment</a> 
            </div>
            <div class="display_comment">
               <% foundData.comments.forEach(function(foundComment) { %>
                    <p> 
                        <strong>
                            <%=foundComment.author.username %>
                        </strong>: <%=foundComment.text %> 
                        <span class="createdDate">
                            <%=foundComment.createdDate.toDateString()%>
                        </span>
                    </p>

               <% }); %>
            </div>
        </div>
        
        
    </div>
</div>

<%- include('../partials/footer') %>