<%- include('../partials/header') %>

<div class="container">
    <h1>Soccer Blog  <a href="/blog/soccer/new"> <i class="fa fa-plus-circle"></i> </a>
        
    </h1>
    <div class="row">
        <% dummySoccerTeams.forEach(function(dummySoccerTeam) { %>
        <div class="col-md-3">
            <figure class="figure">
                <a href="/blog/soccer/<%=dummySoccerTeam._id %>">
                    <img class="figure-img img-fluid rounded" 
                    src="<%=dummySoccerTeam.image%>"
                    alt="Soccer Teams"></a>
                    <figcaption class="figure-caption">
                        <strong><%=dummySoccerTeam.teamname%></strong>
                        <p>
                            Created Date: <%=dummySoccerTeam.createdDate.toDateString() %>
                        </p>
                        <p> 
                            Posted By: <%=dummySoccerTeam.author.username %>
                        </p>
                    </figcaption> 
                    <p class="soccer_description"><%=dummySoccerTeam.description.substring(0,20)%>....</p>
                    <!-- _id is retrieve id from databse which is a unique -->
                    <a class="btn btn-info btn-sm" href="/blog/soccer/<%=dummySoccerTeam._id %>">View Detail</a>
            </figure>
        </div>
    <%}); %>
    </div>
</div>
<%- include('../partials/footer') %>
